.container {
  position: relative;
  margin-top: 130px;
}
.tittle{
  text-align: center;
  margin-top: 100px;
}
.content h1 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content p {
  color: rgb(82, 85, 87);
  margin-top: 0px;
  text-align: center;
}
.carousel-section {
  height: 400px;
  width: 80%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.swiper {
  width: 100%;
  height: 100%;
}
.search{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  justify-self: center;
  display: flex;
  width: 400px;
  padding: 20px;

}
.btn_de{
  margin-left: 20px;
}
.img_gy{
  width: 98%;
  margin-top: 20px;
}
.swiper-slide {
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  background: #fff;
  cursor: pointer;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-shadow: 3px 5px 5px black;
}
.mySwiper {
  margin-top: 0px;
  height: 300px;
}

.swiper-slide .img-carou {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 5px;
}
.content-person {
  margin-top: 10px;
  color: black;
}
.person {
  font-size: 20px;
  font-weight: 800;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 16rem));
  gap: 2rem;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}
