.pagenotfound{
    text-align: center;
    margin-top: 110px;
    font-weight: 800;
    color: white;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: cambiar 10s infinite;
}
@keyframes cambiar {
    25%{margin-top: 100px; color: rgb(255, 0, 234); margin-left: 40%;}
    45%{margin-top: 100px; color: rgb(207, 24, 207); margin-left: -40%;}

    60%{margin-top: 250px; margin-left: 0px;}
}